{% load static %}
{#{% load render_bundle from webpack_loader %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
          name="viewport">
    {#    {% render_bundle 'vendor' 'css' %}#}
    <!--Load fonts here -->

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css" rel="stylesheet">
    <link href="http://192.168.0.18:3000/static/vendor.styles.css" rel="stylesheet">
    <link href="http://192.168.0.18:3000/static/main.styles.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body id="page-top">
<div class="container-fluid">

    {#        {% include "Sidebar.html" %}#}
    {#        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">#}
    {% block content %}{% endblock %}
    {#        </main>#}
    {#    {% render_bundle 'vendor' 'js' %}#}
</div>
<div class="errors"></div>
{#<script>#}
{#  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');#}
{##}
{#  ga('create', 'UA-71450229-2', 'auto');#}
{#  ga('send', 'pageview');#}
{##}
{#</script>#}
<script src="http://192.168.0.18:3000/static/vendor.bundle.js"></script>
<script src="http://192.168.0.18:3000/static/main.js"></script>
</body>
</html>